# =========================
# Entornos Virtuales
# =========================
.venv/
venv/
env/

# =========================
# Basura de Python (Caché)
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Bases de Datos Locales 
# (SI SUBES ESTO TE QUITO EL TECLADO)
# =========================
*.db
*.sqlite
*.sqlite3
asocolgi.db

# =========================
# Secretos y Variables de Entorno
# =========================
.env
.env.*
secrets.json

# =========================
# Basura del Sistema Operativo
# =========================
.DS_Store
Thumbs.db